
@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/Shared/_PersianLayoutLogout.cshtml";
}

<h2 class="text-center BTitrTGEBold TitrShadow">معرفی سیستم مدیریت فرآیندی سازمان</h2>

<p>
    این بخش در دست تهیه است ...
</p>