
@{
    ViewBag.Title = "عملیات با موفقیت انجام شد";
    Layout = "~/Views/Shared/_PersianLayoutLogout.cshtml";
}

<h2>عملیات با موفقیت انجام شد.</h2>
<hr />
<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-default" href="@Url.Action("Create","QualityIndex")">ثبت یک شاخص جدید</a> | <a class="btn btn-default" href="@Url.Action("Index","sysadmin")#QualityIndex">بازگشت به صفحه مدیریت سایت</a>
    </div>
</div>

